body {
    background-color: #F2E3BB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #005F02;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 4px 4px 0px #427A43;
    padding: 10px;
    background-color: #fff9e6;
    width: fit-content;
}

p {
    color: #427A43;
}

.link {
    color: #427A43;
    text-decoration: underline;
    text-decoration-color: #427A43;
    transition: all 0.3s ease;
    font-weight: bold;
}

.link:hover {
    background-color: #427A43;
    color: #F2E3BB;
    border-radius: 4px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff9e6;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.tabla-interna {
    width: 100%;
}

.horario {
    display: flex;
    gap: 8px;
}

input {
    background-color: #fffdf5;
}

button {
    background-color: #5a915b;
    color: #F2E3BB;
    border-radius: 4px;
}

button:hover {
    background-color: #427A43;
    color: #F2E3BB;
    border-radius: 4px;
}